@font-face {
    font-family: "GilroyMedium";
    src: url("../fonts/Gilroy-Medium.ttf");
}
@font-face {
    font-family: "GilroySemiBold";
    src: url("../fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Myriad Semibold";
  src: url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}
  
@font-face {
  font-family: "Myriad Bold";
  src: url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}
@font-face {
  font-family: "Myriad Bold Italic";
  src: url("../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}
@font-face {
  font-family: "Gruppo";
  src: url("../fonts/Gruppo-Regular.ttf");
}
*{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.containerproduct{
  margin: 0;
  padding: 0;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}
.productrows{
  width: 33.33333333333333%;
  display: inline-block;
  padding: 7px;
}
.carddd {
  position: relative;
  width: 100%;
  height: 350px;
  background: #f5f5f5ff;
  overflow: hidden;
  border-radius: 20px;
  transition: .6s;
}
.carddd:hover{
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  transition: .6s;
}
.img-div {
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}  
.productimg{
  width: 65%;
  position: relative;
}
.content_card{
  position: absolute;
  color: #131313;
  color: #f5f5f5ff;
  background: #131313;
  z-index: 1000;
  width: 100%;
  padding: 2%;
  border-bottom-right-radius: 20px;
}
.discont{
  float: left;
  font-size: 20px;
  font-weight: 700;
}
.rating{
  float: right;
}
.card_title {
  font-weight: 500;
  font-size: 16px;
}  
.card_content p{
  font: inherit;
  font-size: 12px;
}
.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #131313;
  color: #e2e2e2;
  border-top-left-radius: 20px;
  transform: translateY(0);
  transition: transform .25s;
}  
.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  z-index: -2000;
  box-shadow: inset 48px 48px #131313;
}
.title-price{
  width: 100%;
  padding: 2%;
}
.card_title {
  display: inline;
  color: #f5f5f5ff;
  line-height: 15px;
  float: left;
}
.price{
  display: inline;
  float: right;
  color: #f5f5f5ff;
  margin-top: -10px;
  font-size: 20px;
}
.card_subtitle {
  display: inline-block;
  font-size: 12px;
  padding: 0 0 0 20px;
  margin-bottom: 10px;
}
.card_description {
  font-size: 14px;
  background: #f5f5f5ff;
  opacity: 1;
  transition: opacity .5s;
}
.SHOW{
  border: 1px solid  #f5f5f5ff;
  background: #f5f5f5ff;
  color: #131313;
  border-radius: 25px;
  padding: 2px 5px;
  /* width: 40%; */
  transition: .6s;
}
.SHOW:hover{
  color: #f5f5f5ff;
  background: #131313;
  transition: .6s;
}
.eye{
  padding-right: 3px;
  float: left;
}
.ADD{
  border: 1px solid  #f5f5f5ff;
  background: #f5f5f5ff;
  color: #131313;
  border-radius: 25px;
  padding: 2px 11px;
  float: right;
  padding: 2px 9px;
  /* width: 40%; */
  transition: .5s;
}
.ADD:hover{
  color: #f5f5f5ff;
  background: #131313;
  transition: .6s;
}
.basket{
  padding: 3px;
  float: right;
  font-size: 40px;
}


.content_card::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 360px;
  width: 70px;
  height: 100px;
  transform: rotate(23deg);
  border-radius: 50%;
  z-index: -3000;
  box-shadow: inset 30px 30px #131313;
}  