@font-face {
    font-family: "GilroyMedium";
    src: url("../fonts/Gilroy-Medium.ttf");
}
@font-face {
    font-family: "GilroySemiBold";
    src: url("../fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Myriad Semibold";
  src: url("../fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}
  
@font-face {
  font-family: "Myriad Bold";
  src: url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}
@font-face {
  font-family: "Myriad Bold Italic";
  src: url("../fonts/MYRIADPRO-BOLDIT.woff") format("woff");
}
@font-face {
  font-family: "Gruppo";
  src: url("../fonts/Gruppo-Regular.ttf");
}


.containerproduct{
  margin: 0;
  padding: 0;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}
.productrows{
  width: 33.33333333333333%;
  display: inline-block;
  padding: 12px;
  padding-bottom: 30px;
}
.carddd {
  position: relative;
  width: 100%;
  height: inherit;
  background: #F6F6F6;
  overflow: hidden;
  border-radius: 8px;
  transition: .6s;
}
.carddd:hover{
  transition: .6s;
}

.img-div {
  display: flex;
  margin-top: -80px;
  justify-content: center;
  align-items: center;
}  
.productimg{
  width: 80%;
  position: relative;
  transition: .6s;
}
.content_card{
  position: absolute;
  color: #131313;
  z-index: 1000;
  width: 100%;
  padding: 2%;
  border-bottom-right-radius: 20px;
}
.discont{
  float: left;
  padding: 0 5px;
}
.discont p{
  font-size: 17px;
  color: #ffc104;
  font-family: 'Montserrat',sans-serif;
}
.rating{
  float: right;
  padding: 0 5px;
}

 
.card_content p{
  font: inherit;
  font-size: 12px;
}
.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: #f6f6f600;
  color: #131313;
  border-top-left-radius: 20px;
  transform: translateY(0);
  transition: transform .25s;
}  
.title-price{
  width: 100%;
  padding: 2% 1%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.card_title {
  display: inline;
  color: #131313;
  float: left;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat',sans-serif;
}
.price{
  display: inline;
  float: right;
  color: #131313;
  font-size: 17px;
  font-family: 'Montserrat',sans-serif;
}
.card_subtitle {
  display: inline-block;
  font-size: 5px;
  padding: 0px 0 0 20px;
  margin-bottom: 0px;
  display: block;
}
.botton-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.SHOW{
  border: 1px solid  #131313;
  width: 100%;
  font-size: 13px;
  text-align: center;
  background: #f5f5f5ff;
  border-radius: 4px;
  padding: 4px 0px 4px 0px;
  float: left;
  transition: .6s;
  font-family: 'Montserrat',sans-serif;
  margin: 0% 2% 0% 0%;
}
.SHOW:hover{
  color: #f5f5f5ff;
  background: #131313;
  transition: .6s;
}
.SHOW span{
  font-family: 'Montserrat',sans-serif;
}
.SHOW #eye{
  float: left;
  font-size: 17px;
  padding: 1px 0px 0px 8px ;
}
.ADD{
  border: 1px solid  #131313;
  font-size: 13px;
  width: 100%;
  text-align: center;
  background: #f5f5f5ff;
  border-radius: 4px;
  padding: 4px 0px 4px 0px;
  float: right;
  transition: .6s;
  font-family: 'Montserrat',sans-serif;
  margin: 0% 0% 0% 2%;

  
}
.ADD:hover{
  color: #f5f5f5ff;
  background: #131313;
  transition: .6s;
}

.ADD span{
  font-family: 'Montserrat',sans-serif;
}
.ADD #basket{
  float: left;
  font-size: 17px;
  padding: 1px 0px 0px 8px ;
}
.content-button{
  padding: 0px 0px 0px 0px ;

}

@media (max-width: 1211px){
  .productimg{
    width: 80%;
    padding-bottom: 15%;
  }
  .botton-icon{
    display: block;
  }
  .SHOW{
    width: 100%;
    margin-bottom: 5px;
  }
  .ADD{
    width: 100%;
  }
  .basket{
    float: left;
  }
  
}
@media (max-width: 1200px){
  .productimg{
    width: 80%;
  }
}
@media (max-width: 1150px){
  .productimg{
    width: 85%;
  }
}
@media (max-width: 1139px){
  .productrows{
    width: 48%;
  }
  .productimg{
    width: 80%;
    padding-bottom: 5%;
  }
  .card_title{
    font-size: 18px;
  }
  .price{
    font-size: 17px;
  }
}
@media (max-width: 1069px){
  .productimg{
    width: 90%;
  }
}
@media (max-width: 990px){
  .productimg{
    width: 100%;
  }
}
@media (max-width: 868px){
  .productimg{
    width: 105%;
  }
}
@media (max-width: 790px){
  .productimg{
    width: 110%;
  }
  .title-price{
    display: grid;
  }
}

@media (max-width: 768px){
  .containerproduct{
    padding-left: 10%;
    padding-right: 10%;
  }
  .productrows{
    display: flex;
    width: 100%;
  }
  .productimg{
    width: 70%;
    margin-top: -30px;
  }
  .SHOW{
    width: 45%;
  }
  .ADD{
    width: 45%;
  }
  .title-price{
    display: flex;
  }
  .card_title{
    font-size: 25px;
  }
  .price{
    font-size: 23px;
  }
}
@media (max-width: 720px){
  .productimg{
    width: 70%;
    margin-top: -40px;
  }
}
@media (max-width: 680px){
  .productimg{
    width: 75%;
    margin-top: -45px;
  }
}
@media (max-width: 640px){
  .productimg{
    width: 80%;
  }
  .card_title{
    font-size: 20px;
  }
  .price{
    font-size: 19px;
  }
}
@media (max-width: 600px){
  .productimg{
    width: 85%;
  }
}
@media (max-width: 570px){
  .productimg{
    width: 90%;
    margin-top: -5%;
  }
  .containerproduct{
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media (max-width: 520px){
  .productimg{
    width: 95%;
  }
  
}
@media (max-width: 488px){
  .ADD{
    width: 48%;
  }
  .SHOW{
    width: 48%;
  }
  .SHOW .show{
    padding-left: 25px;
  }
}
@media (max-width: 459px){
  .botton-icon{
    justify-content: center;
    justify-items: center;
  }
  .SHOW{
    width: 100%;
    margin-bottom: 5px;
  }
  .ADD{
    width: 100%;
  }
  .basket{
    float: left;
  }
  .productimg{
    width: 95%;
    margin-top: -15px;
  }
  .SHOW #eye{
    margin-top:-1px ;
  }
}
@media (max-width: 459px){
  .productimg{
    width: 95%;
  }
  .containerproduct{
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 420px){
  .productimg{
    margin-top: 20px;
    margin-bottom: 15%;
  }
  .title-price{
    display: grid;
  }
}
@media (max-width: 400px){
  .productimg{
    margin-top: 20px;
  }
}
@media (max-width: 380px){
  .productimg{
    width: 105%;
    margin-top: 20px;
  }
}
@media (max-width: 360px){
  .productimg{
    margin-top: 20px;
    margin-bottom: 25%;

  }
}
@media (max-width: 340px){
  .productimg{
    margin-top: 20px;
  }
}
@media (max-width: 320px){
  .productimg{
    margin-top: 20px;
  }
}
@media (max-width: 310px){
  .productimg{
    width: 110%;
    margin-top: 25px;
    margin-bottom: 35%;

  }
}
@media (max-width: 300px){
  .productimg{
    width: 110%;
    margin-top: 25px;
  }
}
@media (max-width: 290px){
  .productimg{
    margin-top: 25;
  }
}
@media (max-width: 280px){
  .productimg{
    margin-top: 30px;
  }
}
@media (max-width: 270px){
  .productimg{
    margin-top: 30px;
    margin-bottom: 50%;

  }
  .SHOW #eye{
    margin-top: -20px;
  }
}
