.supicon .mtuiicon{
    color: #000;
    width:40px;
    height: 30px;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contraint{
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
#sect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sect #imgs img{
    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.076));
    width: 450px;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px);
     }
    65%  { transform: translate(0, 15px);}
    to   { transform: translate(0, -0px); }
}
#sect #formsup form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16PX;
}
#sect #formsup form label{
    font-size: 16PX;
    color: #000;
    pointer-events: none;
    translate: 0 10px;
}

#sect #formsup form input{
    border:0;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 16PX;
    padding: 0px 24px 0 36px;
    border-bottom: 2px solid #2b3442;
    color: #000;
    height: 72px;
    
}
#sect #formsup form textarea{
    margin-top: 25px;
    /* margin-bottom: 25px; */
    width: 100%;
    font-size: 16PX;
    border:0;
    background-color: transparent;
    outline: none;
    padding: 0px 24px 0 36px;
    border-bottom: 2px solid #2b3442;
    color: #000;
    height: 72px;
}
#sect #formsup form .formicon{
    top: 50%;
    color: #000;
    translate: 0 -200%;
    left: 0;
    pointer-events: none;
}
#sect #formsup form input:focus{
    border-color: #216ce7;
}
#sect #formsup form textarea:focus{
    border-color: #216ce7;
}
#sect #formsup form .formiconmess{
    top: 50%;
    color: #000;
    translate: 0 -290%;
    left: 0;
    pointer-events: none;
}
#sect #formsup form button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 24px;
    border-radius: 6px;
    background: #000;
    color: #f9f9f9;
    border: 0;
    font-weight: 500;
    transition: 0.6s;
}
#sect #formsup form button:hover{
    background: #fff;
    color: #000;
    transition: 0.6s;
    border: 1px solid black;
}
#sect #formsup form button .iconbtn{
    cursor: pointer;
    padding: 0px 2px;
    color: #f9f9f9;
    margin: 0px 2px;
}
@media (max-width:1055px) {
    #sect #imgs img{
        width: 400px;
    }
}
@media (max-width:907px) {
    #sect #imgs img{
        width: 370px;
    }
}
@media (max-width:836px) {
    #sect #imgs img{
        width: 340px;
    }
}

@media (max-width:752px) {
    #sect #imgs img{
        width: 600px;
    }
}

@media (max-width:642px) {
    #sect #imgs img{
        width: 500px;
    }
}
@media (max-width:542px) {
    #sect #imgs img{
        width: 390px;
    }
}
@media (max-width:412px) {
    #sect #imgs img{
        width: 340px;
    }
}
@media (max-width:442px) {
    #sect #imgs img{
        width: 315px;
    }
}

@media (max-width:342px) {
    #sect #imgs img{
        width: 215px;
    }
}
@media (max-width:242px) {
    #sect #imgs img{
        width: 130px;
    }
}