@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
.bg{
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    background: url("../pictures/bacK.webp");
    backdrop-filter: blur( 11.0px );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
aside{
    position: fixed;
    padding: 8px;
    height: 100vh;
    width: 80px;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.0px );
    -webkit-backdrop-filter: blur( 11.0px );
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.5s;
    z-index: 150;
}
aside.active{
    width: 300px;
}

.head__section{
    position: relative;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.head__section i{
    font-size: 25px;
    margin-right: 40px;
    color: #A4A4A4;
    cursor: pointer;
    padding: 10px 0px 0px 22px;
}
.head__section i::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 6px;
    width: 6px;
    background: #FF6372;
    border-radius: 50%;
    border: 3px solid #F8E4D8;
}
.head__section::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #B6B6B6;
    bottom: -20px;
}
.nav__links ul li{
    padding: 10px 0px 12px  0px;
    width: 100%;
    border-radius: 10px;
    transition: 0.5s;
    margin-left: -8px;
}
.nav__links ul li:not(li:last-child){
    margin-bottom: 22px;
}
.nav__links ul li a span{
    color: #000;
    font-size: 14px;
}
.nav__links ul li a i{
    margin-right: 40px;
    color: #A4A4A4;
    transition: 0.5s;
}

.nav__links ul li:hover i{
    color: #3781DE;
}
/* .ctr{  
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    overflow: hidden;
}
.ctr .parallax-text{
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    font-size: 15vw;
    font-style: italic;
    color: #000;
}
.ctr .parallax-text::after{
   content: attr(text);
   position: absolute;
   z-index: 100;
   top: 0;
   left: 0;
   color: transparent;
   -webkit-text-stroke: 0.15vw black;
}
.ctr img{
    width: 45vw;
    animation: sneakerAnimation 2s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 99;
    transform: translate(-5vw,-5vw) rotate(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
   
} */
@keyframes sneakerAnimation {
    0%, 10%{
        transform: translate(100vw,0) rotate(-15deg);
    }
    90%, 100%{
        transform: translate(-5vw,-5vw) rotate(-30deg);
    }
}

.slider {

    height: 100vh;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .slide .shoes {
    width: 45vw;
    animation: sneakerAnimation 3s cubic-bezier(0.25, 1, 0.5, 1) infinite  alternate;
    z-index: 99;
    transform: translate(-5vw,-5vw) rotate(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    /* aspect-ratio: 3/2;
    object-fit: contain; */
  }
  
  .slide span{
    position: absolute;
    font-family: 'Montserrat',sans-serif;
    font-size: 15vw;
    font-style: italic;
    color: #000;
    text-align: center;
  }
  .slide span::after{
    content: attr(text);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-stroke: 0.15vw black;
 }
  
  .slide.active {
    opacity: 1;
  }
  
  .dots {
    position: absolute;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .dot.active {
    background-color: white;
  }
  